
body{
	background-color: #EAF1F1;
}

h1{
	background-color: #EAF1F1;
	font-family: "Clear Sans", "Source Sans Pro", "Helvetica Neue", Helvetica;
	font-size: 100px;
	margin-bottom:0px;
}


div .label {
  display:inline-block;
  padding-top:0;
  padding-bottom:0;
  line-height:1.5em;
} 

.score {
  padding-right: 0;
}


.newGame{
	margin-left: auto;
	margin-right: auto;
}

.right{
	float:right;
}
